node_modules
.turbo
dist
apps/api/dist/**
!apps/api/dist/
!apps/api/dist/vercel.cjs
.next
.vercel
.expo
.expo-shared
*.tsbuildinfo
.env
.env.local
.env*.local
!.env.example
coverage
.DS_Store
apps/api/uploads
apps/admin/public/assets
prisma/*.db
prisma/*.db-journal
